content/css/twentyfifteen/**
content/js/jquery*
content/js/lunr*
content/js/search.js
content/js/all.js
content/password-generator/random.js
content/password-generator/lodash.js
output/**
dist/**
**/*.wdgt/**
blog-skeleton/**
password-generator/**
