<% if @item_id > 0 %>
<div id="nav-above" class="navigation">
	<div class="nav-previous">
		<% if @item_id < sorted_articles.size / @config[:page_size] %>
		<a href="/blog/page<%=@item_id + 2%>" rel="prev"><span class="meta-nav">&larr;</span>Older posts</a>
		<% end %>
	</div>
	<div class="nav-next">
		<% if @item_id > 1 %>
		<a href="/blog/page<%=@item_id%>" rel="next">Newer posts<span class="meta-nav">&rarr;</span></a>
		<% elsif @item_id == 1 %>
		<a href="/" rel="next">Newer posts<span class="meta-nav">&rarr;</span></a>
		<% end%>
	</div>
</div>
<% end %>

<% pages = sorted_articles.slice(@item_id*@config[:page_size], @config[:page_size]) %>
<% pages.each do |post| %>
<%= render 'include/post_excerpt', :post => post %>
<% end %>

<div id="nav-below" class="navigation">
	<div class="nav-previous">
		<% if @item_id < sorted_articles.size / @config[:page_size] %>
		<a href="/blog/page<%=@item_id + 2%>" rel="prev"><span class="meta-nav">&larr;</span>Older posts</a>
		<% end %>
	</div>
	<div class="nav-next">
		<% if @item_id > 1 %>
		<a href="/blog/page<%=@item_id%>" rel="next">Newer posts<span class="meta-nav">&rarr;</span></a>
		<% elsif @item_id == 1 %>
		<a href="/" rel="next">Newer posts<span class="meta-nav">&rarr;</span></a>
		<% end%>
	</div>
</div>
