%aside.widget
  %h2.widget-title Buy my book
  .textwidget
    %p(style='text-align: center; margin-top: 10px; margin-bottom: 10px;')
      %a(href="https://www.amazon.com/gp/product/059652126X/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=059652126X&linkCode=as2&tag=eltr08-20")
        %img(src="/xmppbook/cover.png" style="border: solid thin gray;" width='150' alt="Cover")
    %p(style='text-align: center')
      %a(href="https://www.amazon.com/gp/product/059652126X/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=059652126X&linkCode=as2&tag=eltr08-20" title="Amazon.com")
        %img(src="/xmppbook/us.png" alt="amazon.com")
      %a(href="https://www.amazon.co.uk/gp/product/059652126X/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=059652126X&linkCode=as2&tag=eltr0e-21" title="Amazon.co.uk")
        %img(src="/xmppbook/gb.png" alt="amazon.co.uk")
      %a(href="https://shop.oreilly.com/product/9780596521271.do")
        %img(src="/xmppbook/oreilly.png" alt="O'Reilly" title="O'Reilly")

