<li class="widget-container widget_text">
  <h3 class="widget-title">Buy my book</h3>
  <div class="textwidget">
    <p style='text-align: center; margin-top: 10px; margin-bottom: 10px;'>
      <a href="http://shop.oreilly.com/product/9780596521271.do"><img src="/xmppbook/cover.png" style="border: solid thin gray;" width='150' alt="Cover"/></a>
    </p> 
    <p style='text-align: center'>
      <a href="http://www.amazon.com/XMPP-Definitive-Guide-Peter-Saint-Andre/dp/059652126X/"><img src="/xmppbook/us.png" alt="amazon.com"/></a>
      <a href="http://www.amazon.co.uk/XMPP-Definitive-Guide-Peter-Saint-Andre/dp/059652126X"><img src="/xmppbook/gb.png" alt="amazon.co.uk"/></a>
    </p>
  </div>
</li>
