<div id="disqus_thread"></div>
<script type="text/javascript">
	<% if @item[:wordpress_url] and @item[:wordpress_id] %>
	var disqus_identifier = '<%= @item[:wordpress_id].to_s + " " + @item[:wordpress_url] %>';
	<% else %>
	var disqus_identifier = '<%= @item.path.chop %>';
	<% end %>
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://<%= @config[:disqus_shortname] %>.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments.</a></noscript>
