#access
	.menu-header
		%ul.menu(data-swiftype-index='false')
			%li.menu-item<
				%a(href="/")<
					Blog
				%ul.sub-menu
					%li.menu-item.menu-item-separator<
						%a(href="/")<
							All Categories
					= category_menu
			%li.menu-item<
				%a(href="/software")<
					Software
				%ul.sub-menu
					%li.menu-item<
						%a(href="https://swift.im")<
							Swift IM
					%li.menu-item<
						%a(href="/retjilp")<
							Retjilp: Native Auto-retweet bot
					%li.menu-item<
						%a(href="/wigit")<
							WiGit: A Simple Git-based Wiki
					%li.menu-item<
						%a(href="/atomail")<
							AtoMail
					%li.menu-item<
						%a(href="/docbook-kit")<
							DocBook Kit
					%li.menu-item.menu-item-separator<
						%a(href="http://postwic.el-tramo.be/")<
							Postwic: Post Pictures to Twitter
					%li.menu-item<
						%a(href="/software")<
							All Projects
			%li.menu-item<
				%a<
					Writings
				%ul.sub-menu
					%li.menu-item<
						%a(href="https://oreilly.com/catalog/9780596521271")<
							XMPP: The Definitive Guide
					%li.menu-item<
						%a(href="/documents/beautiful-xmpp-testing")<
							Beautiful XMPP Testing
					%li.menu-item<
						%a<
							Guides
						%ul.sub-menu
							%li.menu-item<
								%a(href="/guides/fancy-dmg")<
									Building Fancy DMG Images on Mac OS X
							%li.menu-item<
								%a(href="/guides/darcs-static-osx")<
									Creating Darcs Mac OS X static builds
							%li.menu-item<
								%a(href="/guides/linux-lt9399")<
									Running Linux 2.6 on LT9399 (or MD9399) Laptops
					%li.menu-item<
						%a<
							XMPP Extension Protocols
						%ul.sub-menu
							%li.menu-item<
								%a(href="http://www.xmpp.org/extensions/xep-0115.html")<
									XEP-0115: Entity Capabilities
							%li.menu-item<
								%a(href="http://www.xmpp.org/extensions/xep-0146.html")<
									XEP-0146: Remote Controlling Clients
							%li.menu-item<
								%a(href="http://www.xmpp.org/extensions/xep-0209.html")<
									XEP-0209: Metacontacts
					%li.menu-item<
						%a(href="/publications")<
							Academic Publications
			%li.menu-item<
				%a(href="/about")<
					About Me
