<div id="access">
	<div class="menu-header">
		<ul class="menu">
			<li class="menu-item"><a href="/">Blog</a>
				<ul class="sub-menu">
					<li class="menu-item menu-item-separator"><a href="/">All Categories</a></li>
					<%= category_menu %>
				</ul>
			</li>
			<li class="menu-item"><a href="">Software</a>
				<ul class="sub-menu">
					<li class="menu-item"><a href="http://swift.im">Swift IM</a></li>
					<li class="menu-item"><a href="/software/retjilp">Retjilp: Native Auto-retweet bot</a></li>
					<li class="menu-item"><a href="/software/wigit">WiGit: A Simple Git-based Wiki</a></li>
					<li class="menu-item"><a href="/software/atomail">AtoMail</a></li>
					<li class="menu-item"><a href="/software/docbook-kit">DocBook Kit</a></li>
					<li class="menu-item menu-item-separator"><a href="http://postwic.el-tramo.be/">Postwic: Post Pictures to Twitter</a></li>
					<li class="menu-item"><a href="/software/">All Projects</a></li>
				</ul>
			</li>
			<li class="menu-item"><a href="">Writings</a>
				<ul class="sub-menu">
					<li class="menu-item"><a href="http://oreilly.com/catalog/9780596521271">XMPP: The Definitive Guide</a></li>
					<li class="menu-item"><a href="/documents/beautiful-xmpp-testing">Beautiful XMPP Testing</a></li>
					<li class="menu-item"><a href="">Guides</a>

						<ul class="sub-menu">
							<li class="menu-item"><a href="/guides/fancy-dmg">Building Fancy DMG Images on Mac OS X</a></li>
							<li class="menu-item"><a href="/guides/darcs-static-osx">Creating Darcs Mac OS X static builds</a></li>
							<li class="menu-item"><a href="/guides/linux-lt9399">Running Linux 2.6 on LT9399 (or MD9399) Laptops</a></li>
						</ul>
					</li>
					<li class="menu-item"><a href="">XMPP Extension Protocols</a>
						<ul class="sub-menu">
							<li class="menu-item"><a href="http://www.xmpp.org/extensions/xep-0115.html">XEP-0115: Entity Capabilities</a></li>
							<li class="menu-item"><a href="http://www.xmpp.org/extensions/xep-0146.html">XEP-0146: Remote Controlling Clients</a></li>
							<li class="menu-item"><a href="http://www.xmpp.org/extensions/xep-0209.html">XEP-0209: Metacontacts</a></li>
						</ul>
					</li>
					<li class="menu-item"><a href="/publications">Academic Publications</a></li>
				</ul>
			</li>
			<li class="menu-item"><a href="/about">About Me</a></li>
		</ul>
	</div>			
</div>

