%div
	%ul.nav-menu

		%li.menu-item.menu-item-has-children{class: [@item.identifier == "/" && "current-menu-item", @item.identifier.start_with?("/blog/tag/") && "current-menu-ancestor"]}
			%a(href="/") Blog
			%ul.sub-menu
				%li
					- current_tag = @item[:kind] == "article_list" ? @item[:tag] : nil
					.tag-cloud= tag_cloud "/blog/tag/", current_tag: current_tag, link_for_tag: lambda {|x,y| link_for_tag(x,y) }

		%li.menu-item.menu-item-has-children{class: [ @item.identifier == "/software/" && "current-menu-item", ["/retjilp/", "/wigit/", "/atomail/", "/docbook-kit/"].include?(@item.identifier) && "current-menu-ancestor" ]}
			%a(href="/software") Software
			%ul.sub-menu
				%li.menu-item<
					%a(href="https://swift.im")<
						Swift IM 
						%span.genericon.genericon-external
						.menu-item-description XMPP Messaging Software
				%li.menu-item{class: [@item.identifier == "/retjilp/" && "current-menu-item"]}<
					%a(href="/retjilp")<
						Retjilp
						.menu-item-description Native Auto-retweet bot
				%li.menu-item{class: [@item.identifier == "/wigit/" && "current-menu-item"]}<
					%a(href="/wigit")<
						WiGit
						.menu-item-description A Simple Git-based Wiki
				%li.menu-item{class: [@item.identifier == "/atomail/" && "current-menu-item"]}<
					%a(href="/atomail")<
						AtoMail
						.menu-item-description Convert E-Mail into RSS
				%li.menu-item{class: [@item.identifier == "/docbook-kit/" && "current-menu-item"]}<
					%a(href="/docbook-kit")<
						DocBook Kit
						.menu-item-description A Collection of DocBook Utilities
				%li.menu-item{class: [@item.identifier == "/software/" && "current-menu-item"]}<
					%a(href="/software")<
						All Software

		%li.menu-item.menu-item-has-children{class: [["/documents/beautiful-xmpp-testing/", "/guides/fancy-dmg/", "/guides/darcs-static-osx/", "/guides/linux-lt9399/", "/publications/"].include?(@item.identifier) && "current-menu-ancestor"]}
			%a Writings
			%ul.sub-menu
				%li.menu-item<
					%a(href="https://oreilly.com/catalog/9780596521271")<
						XMPP: The Definitive Guide
						%span.genericon.genericon-external
				%li.menu-item{class: [@item.identifier == "/documents/beautiful-xmpp-testing/" && "current-menu-item"]}<
					%a(href="/documents/beautiful-xmpp-testing")<
						Beautiful XMPP Testing
				%li.menu-item<
					%a(href="https://dtai.cs.kuleuven.be/ppcbook/")<
						The First 10 Prolog Programming Contests
						%span.genericon.genericon-external

				%li.menu-item.menu-item-has-children{class: [["/guides/fancy-dmg/", "/guides/darcs-static-osx/", "/guides/linux-lt9399/"].include?(@item.identifier) && "current-menu-ancestor"]}
					%a Guides
					%ul.sub-menu
						%li.menu-item{class: [@item.identifier == "/guides/fancy-dmg/" && "current-menu-item"]}<
							%a(href="/guides/fancy-dmg")<
								Building Fancy DMG Images on Mac OS X
						%li.menu-item{class: [@item.identifier == "/guides/darcs-static-osx/" && "current-menu-item"]}<
							%a(href="/guides/darcs-static-osx")<
								Creating Darcs Mac OS X static builds
						%li.menu-item{class: [@item.identifier == "/guides/linux-lt9399/" && "current-menu-item"]}<
							%a(href="/guides/linux-lt9399")<
								Running Linux 2.6 on LT9399 (or MD9399) Laptops

				%li.menu-item.menu-item-has-children
					%a XMPP Extension Protocols
					%ul.sub-menu
						%li.menu-item<
							%a(href="http://www.xmpp.org/extensions/xep-0115.html")<
								XEP-0115
								%span.genericon.genericon-external
								.menu-item-description Entity Capabilities
						%li.menu-item<
							%a(href="http://www.xmpp.org/extensions/xep-0146.html")<
								XEP-0146
								%span.genericon.genericon-external
								.menu-item-description Remote Controlling Clients
						%li.menu-item<
							%a(href="http://www.xmpp.org/extensions/xep-0209.html")<
								XEP-0209
								%span.genericon.genericon-external
								.menu-item-description Metacontacts
				%li.menu-item{class: [@item.identifier == "/publications/" && "current-menu-item"]}<
					%a(href="/publications")<
						Academic Publications

		%li.menu-item{class: [@item.identifier == "/about/" && "current-menu-item"]}
			%a(href="/about") About Me
