%li.widget-container.widget_text
	%a{class: "twitter-timeline", href: "https://twitter.com/remko", "data-widget-id" => "243415287175712768"}
		Tweets by @remko
	%script<
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
