%article{class: ["page", "hentry", [@item[:header_image] && "has-post-thumbnail"]]}
	-if @item[:header_image]
		.post-thumbnail
			%img.attachment-post-thumbnail{src: @item[:header_image], alt: "header"}

	%header.entry-header
		%h1.entry-title= @item[:title]

	.entry-content
		:preserve
			#{yield}
	
	- if @item[:author_info]
		= render "/include/author_info.*"

- if @item[:comments]
	#comments.comments-area
		= render "/include/disqus.*"
